.D_Default {
    border-collapse: collapse !important;
    display: inline-block !important;
}

.D_A {
    background-color: #999999 !important;
}

.D_CALLBK {
    background-color: #999999 !important;
}

.D_DC {
    background-color: #999999 !important;
}

.D_DEC {
    background-color: #999999 !important;
}

.D_N {
    background-color: #999999 !important;
}

.D_NI {
    background-color: #999999 !important;
}

.D_NP {
    background-color: #999999 !important;
}

.D_SALE {
    background-color: #999999 !important;
}

.D_WN {
    background-color: #999999 !important;
}

.D_XFER {
    background-color: #999999 !important;
}

.D_BSY {
    background-color: #999999 !important;
}

.D_ADEC {
    background-color: #999999 !important;
}

.D_ANI {
    background-color: #999999 !important;
}

.DNC {
    background-color: #999999 !important;
}

.D_AQNB {
    background-color: #999999 !important;
}

.D_ANC {
    background-color: #999999 !important;
}

.D_CS {
    background-color: #999999 !important;
}

.D_CE {
    background-color: #999999 !important;
}

.D_WC {
    background-color: #999999 !important;
}

.D_COMP {
    background-color: #999999 !important;
}

.D_TWWI {
    background-color: #999999 !important;
}

.D_SLE {
    background-color: #999999 !important;
}

.D_UPS {
    background-color: #999999 !important;
}

.D_RUPS {
    background-color: #999999 !important;
}

.D_PSS {
    background-color: #999999 !important;
}

.D_REINS {
    background-color: #999999 !important;
}

.D_REDO {
    background-color: #999999 !important;
}

.D_AHU {
    background-color: #999999 !important;
}

.D_ACB {
    background-color: #999999 !important;
}

.D_Wi {
    background-color: #999999 !important;
}

.D_ADUW {
    background-color: #999999 !important;
}

.D_Pre {
    background-color: #999999 !important;
}

td {
    padding: 0px 0px !important;
}

